In [1]:
print("Hellow world")

Hellow world

In [2]:
x="Hellow world"
x

'Hellow world'

In [3]:
y=" Hellow world"
y

' Hellow world'

In [4]:
type(x)

str

In [5]:
x+y

'Hellow world Hellow world'

In [6]:
x=10
y=20
x+y

30

In [7]:
type(x)

int

In [9]:
x="pakistan"
x

'pakistan'

In [10]:
x=x*2
x

'pakistanpakistan'

In [11]:
x+y

TypeError: cannot concatenate 'str' and 'int' objects

In [12]:
Student = "Aslam"
Student

'Aslam'

In [13]:
Student = "Akram"
Student

'Akram'

In [14]:
x="Python is  cool"         #String 
x

'Python is  cool'

In [16]:
len(x)

15

In [17]:
print(x[10])                #Accessing a substring via slicing: string[start:finish]  
print(x[2:6])

thon

In [18]:
y="Python is  cool" 
y

'Python is  cool'

In [19]:
y.split(" ")

['Python', 'is', '', 'cool']

In [20]:
x+y

'Python is  coolPython is  cool'

In [21]:
x.upper()

'PYTHON IS  COOL'

In [22]:
x.replace("c", "k") # replace characters in a string

'Python is  kool'

In [25]:
x.replace("o", "M")

'PythMn is  cMMl'

In [26]:
len(x)

15

In [27]:
raw_input("Which is the best subject? ")                   #input

Which is the best subject? CS

'CS'

In [28]:
raw_input()

CS

'CS'

In [29]:
Student=raw_input("Enter your name ")

Enter your name Badar

x=20
y=30

In [32]:
x=20
y=30

In [33]:
x<y

True

In [34]:
x>y

False

In [35]:
x==y

False

In [36]:
x=True                 #logical operators
y=False
x&y

False

In [37]:
x | y

True

In [38]:
while raw_input("Which is the best subject? ") != "Computer Science":            #loops 
    print("Try again!")
print("Of course it is!")

Which is the best subject? cs
Try again!
Which is the best subject? math
Try again!
Which is the best subject? DB
Try again!
Which is the best subject? Computer Science
Of course it is!

In [40]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [42]:
List = [1,2,3,4,5,6,7,8,9,10,11,12,13]           #Break 
for x in List:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13

In [43]:
def my_function():                                  #Function 
  print("Hello from a function")         

my_function()

Hello from a function

In [44]:
def my_function(x):                                #Function 
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [45]:
grade=int(raw_input("Numeric grade:"))             #If elif
if grade >=80:
    print("A")
elif grade >= 65:  
    print("B")
elif grade >= 55:  
    print("C")
else:
    print("E")

Numeric grade:78
B

In [46]:
def  celsius_to_fahrenheit(celsius):  
    fahrenheit=celsius*1.8+32.0  
    return	fahrenheit

In [47]:
x=celsius_to_fahrenheit(56)
x

132.8

In [48]:
x=open("cool.txt","r")      #read mode

y=x.read()                          #	read	the	whole  
print(y)

x.close()

this is my file for opening with python

In [51]:
x=open("cool.txt","w")
x.write("sample writing in file")
x.close()

In [52]:
x=open("cool.txt","r")      #read mode

y=x.read()                          #	read	the	whole  
print(y)

x.close()

sample writing in file

In [53]:
x=open("cool.txt","a")
x.write("File open in Append mode ")
x.close()

In [55]:
x=open("cool.txt","r")      #read mode

y=x.read()                          #	read	the	whole  
print(y)

x.close()

sample writing in file

In [58]:
x=open("cool.txt","a")
x.write("\nFile open in Append mode ")
x.close()

In [59]:
x=open("cool.txt","r")      #read mode

y=x.read()                          #	read	the	whole  
print(y)

x.close()

sample writing in fileFile open in Append mode
File open in Append mode

In [60]:
x=[1,2,3,4]                         #list
x

[1, 2, 3, 4]

In [61]:
x[0]

1

In [62]:
x.append(5)
print(x)                     #[4,2,3,4,5]

[1, 2, 3, 4, 5]

In [63]:
x[1:3]

[2, 3]

In [64]:
x[2:4]

[3, 4]

In [65]:
y=[1,2,3,4,5,6,7,8,9]
y

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
y[0]=10

In [67]:
y

[10, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
z=x+y[0:5]
z

[1, 2, 3, 4, 5, 10, 2, 3, 4, 5]

In [69]:
z=x+y
z

[1, 2, 3, 4, 5, 10, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
len(z)

14